<h1>Single Use Safety</h1>
<p>Welcome ASA Members!  We would like to invite you to take our survey about safe injection practices.  Survey results for the study will be saved anonymously, but study results and best practices materials will be sent to your email.</p>
<%= link_to "Take the survey!", survey_path, :class => "signup_button round"%>