<h1>Survey Results</h1>
<p>Overall results are broken down by question as well as demographic information</p>
<h2>Question 1<h2>
	<p>Repeat question text, show correct answer and best practice info<p>
		<%= image_tag Gchart.pie_3d(:data => [20, 35, 45]) %>
		<%= image_tag  Gchart.venn(:data => [100, 80, 60, 30, 30, 30, 10]) %>
		<%= image_tag Gchart.bar(:title => "Recent Chart Sexyness", :data => [15, 30, 10, 20, 100, 20, 40, 100]) %>